@page "/"
@using AntDesign
@inject MessageService _message
@inject CustomAuthenticationStateProvider CustomAuthProvider
@inject NavigationManager Navigation
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject OmokClient.Services.AuthService AuthService

<PageTitle>Home</PageTitle>

<h3>회원가입/로그인</h3>

<div>
    <h4>회원가입</h4>
    <form>
        <Space>
            <GridRow Justify="center">
                <AntDesign.Input Placeholder="Email" @bind-Value="@registerEmail" Size="@AntDesign.InputSize.Large">
                    <Prefix>
                        <Icon Type="user" />
                    </Prefix>
                </AntDesign.Input>
            </GridRow>
            <Space />
            <GridRow Justify="center">
                <InputPassword Placeholder="Password" @bind-Value="@registerPassword" Size="@AntDesign.InputSize.Large">
                    <Prefix>
                        <Icon Type="lock" />
                    </Prefix>
                </InputPassword>
            </GridRow>
            <Space />
            <GridRow Justify="end">
                <SpaceItem>
                    <Button Type="primary" OnClick="RegisterUser">
                        회원가입
                    </Button>
                </SpaceItem>
            </GridRow>
        </Space>
    </form>
</div>

<div>
    <h4>로그인</h4>
    <form>
        <Space>
            <GridRow Justify="center">
                <AntDesign.Input Placeholder="Email" @bind-Value="@loginEmail" Size="@AntDesign.InputSize.Large">
                    <Prefix>
                        <Icon Type="user" />
                    </Prefix>
                </AntDesign.Input>
            </GridRow>
            <Space />
            <GridRow Justify="center">
                <InputPassword Placeholder="Password" @bind-Value="@loginPassword" Size="@AntDesign.InputSize.Large">
                    <Prefix>
                        <Icon Type="lock" />
                    </Prefix>
                </InputPassword>
            </GridRow>
            <Space />
            <GridRow Justify="end">
                <SpaceItem>
                    <Button Type="primary" OnClick="LoginUser">
                        로그인
                    </Button>
                </SpaceItem>
            </GridRow>
        </Space>
    </form>
</div>

@code {
    private string registerEmail = string.Empty;
    private string registerPassword = string.Empty;
    private string loginEmail = string.Empty;
    private string loginPassword = string.Empty;

    private async Task RegisterUser()
    {
        var result = await AuthService.RegisterUserAsync(registerEmail, registerPassword);
        if (result?.Result == ErrorCode.None)
        {
            Console.WriteLine("Registration successful");
            await _message.Success("회원가입 성공");
        }
        else
        {
            Console.WriteLine("Registration failed: " + result?.Result);
            await _message.Error("회원가입 실패: " + result?.Result, 5);
        }
    }

    private async Task LoginUser()
    {
        var loginResponse = await AuthService.LoginUserAsync(loginEmail, loginPassword);
        if (loginResponse?.Result == ErrorCode.None)
        {
            Console.WriteLine("Login successful");
            await _message.Success("하이브 로그인 성공");

            var gameLoginResponse = await AuthService.GameLoginAsync(loginResponse);
            if (gameLoginResponse?.Result == ErrorCode.None)
            {
                Console.WriteLine("Game login successful");
                await _message.Success("게임 로그인 성공");

                CustomAuthProvider.NotifyUserLoggedIn(loginResponse.HivePlayerId);

                await sessionStorage.SetItemAsync("sessionUserId", loginEmail);

                Console.WriteLine("Navigating to /gamestart");
                Navigation.NavigateTo("gamestart", true);
            }
            else
            {
                Console.WriteLine("Game login failed: " + gameLoginResponse?.Result);
                await _message.Error("게임 로그인 실패: " + gameLoginResponse?.Result, 5);
            }
        }
        else
        {
            Console.WriteLine("Login failed: " + loginResponse?.Result);
            await _message.Error("하이브 로그인 실패: " + loginResponse?.Result, 5);
        }
    }
}
